@model StationeryProject.Models.UserProductRequest
@{
    ViewData["Title"] = "Home Page";
   // Layout = null;
}

<form asp-antiforgery="true" asp-controller="Home" asp-action="AddRequest" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <br />
    <select asp-for="UserId">
        @{ foreach (var u in ViewBag.usersCol)
            {
                <option value="@u.Id">@u.FirstName @u.LastName</option>
            }
        }
    </select>
    <br />
    <select asp-for="ProductId" >
        @{ foreach (var p in ViewBag.productsCol)
            {
                <option value="@p.Id">@p.ProductName.ToString()</option>
            }
        }
    </select>
    <br />
    <input asp-for="ProductAmount" type="number" />
    <span asp-validation-for="ProductAmount"></span>

    <input type="submit" />
</form>


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}