@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<form asp-antiforgery="true" asp-controller="Home" asp-action="AddRequest" method="post">
    <select name="userId">
        @{ foreach (var u in ViewBag.usersCol)
            {
        <option value="@u.Id">@u.FirstName @u.LastName</option>
            }
        }
    </select>

    <select name="productId">
        @{ foreach (var p in ViewBag.productsCol)
            {
                <option value="@p.Id">@p.ProductName.ToString()</option>
            }
        }
    </select>

    <input type="number" name="amount" size="4"/>

    <input type="submit" />
</form>